.nav {
	text-align: center;
	@include mq(medium) {
		@include flex(row, center);

	}

	&__item {
		display: block;
		padding: 10px 0;
		

			
		@include mq(medium) {
			display: inline;
			padding: 10px 20px;
			
			text-align: center;
		}
		&:hover {
			@include btn(10px 20px);
			color: $col-white;
			background-color: $col-primary;
		}
	}
}
