*{
box-sizing:border-box;
font-family: $font-serif;

}

body{
	display: flex;
	flex-direction: column;
}


//List Styles
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }



p,{
	color: $col-font;
	font-size: $font-size-default;
	line-height: $font-line-height;
	font-weight: $font-light;
	margin: 0;

}

.link {
	color: $col-secondary;
	text-decoration: none;
	font-weight: $font-bold;
}

